<%= render 'layouts/partials/messages' %>
<% if @stock %>
<div class="row pt-5">
    <div class="col-3">
        <div class="card">
            <div class="card-header"><%= @stock.ticker %></div>
            <div class="card-body">
                <p><%= @stock.name %></p>
                <p class="text-muted">last price: <%= @stock.last_price %></p>
            </div>
        </div>
    </div>
</div>
<% end %>